body{
    font-family: 'Manrope', sans-serif;
    font-family: 'Nunito', sans-serif;
    background-image: url("img/lessssss.jpg");
    background-repeat: repeat-x;
    background-color: black;
}
p, h3, h4{
    color: white;
}
.cats{
    width: 130px;
    margin-left: 550px;
}
mark{
    color: white;
    background-color: rgba(96, 183, 255, 0.562);
    padding: 2px;
    border-radius: 3px;
}
header{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px;
}
header a{
    text-decoration: none;
    color: white;
}
header a:hover{
    text-shadow: 1px 1px 10px white;
}
header li{
    display: inline;
    text-align: center;
    margin: 0px 120px;
    color: white;
    text-shadow: 1px 1px 20px white;
    font-size: 19px;
    transition: 1s;
}
header li:hover{
    transform: scale(1.2);
}
#logo{
    margin-left: 30px;
    color: white;
    text-shadow: 1px 1px 20px white;
    font-size: 30px;
}
.home{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 50px white;
    font-size: 30px;
    text-transform: uppercase;
    padding: 300px; 
}
.home img:hover{
    transition: 2s;
}
.home img:hover{
    transform: scale(1.5);
}
.ocebe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.ocebe p{
    margin: 0px 500px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.205);
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.253);
    border-radius: 20px;
    padding: 10px;
}
.ocebe img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 370px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.493);
}
.ocebe h4{
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
}
.projects{
    padding: 150px;
}
/* заголовки */
.projects h3{
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.404);
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.253);
    border-radius: 20px;
    padding: 10px;
} 
.projects h4{
    text-transform: uppercase;
    font-size: 20px;
}
.projects img:hover{
    transition: 1s;
}
.projects img:hover{
    transform: scale(1.1);
}
.block{
    text-align: center;
    padding: 0px 30px;
}
.block p{
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.205);
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.253);
    border-radius: 20px;
    padding: 10px;
}
.block img{
    width: 400px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.493);
    border-radius: 15px;
}
.blocks{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.uslugi{
    padding: 150px;
}
.uslugi h3{
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.404);
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.253);
    border-radius: 20px;
    padding: 10px;
}
.uslugi h4{
    text-transform: uppercase;
    font-size: 20px;
}
.uslugi img{
    width: 100px;
}
.blocksOne{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.blockOne{
    text-align: center;
    padding: 0px 60px;
}
.blockOne p{
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.205);
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.253);
    border-radius: 20px;
    padding: 10px;
    width: 170px;
}
.contact{
    padding: 150px;
}
.contact h3{
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.404);
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.253);
    border-radius: 20px;
    padding: 10px;
}
.contact img{
    width: 160px;
    margin: 0px 120px 0px 0px;
}
.contact p{
    text-align: center;
    margin: 0px 70px 0px 170px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.205);
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.253);
    border-radius: 20px;
    padding: 10px;
}
.blocksTwo{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.blockTwo{
    text-align: center;
}
form{
    margin: 0px 210px 0px 0px;
    background-color: rgba(255, 255, 255, 0.616);
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.253);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
#contact-form select{
    border: 1px solid black;
    width: 270px;
    padding: 9px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.623);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.253);
}
#contact-form input[type="text"]{
    border: 1px solid black;
    height: 20px;
    width: 250px;
    padding: 9px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.623);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.253);
}
#contact-form input[type="email"]{
    border: 1px solid black;
    height: 20px;
    width: 250px;
    padding: 9px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.623);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.253);
}
textarea{
    border: 1px solid black;
    width: 250px;
    padding: 9px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.623);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.253);
}
#contact-form input[type="tel"]{
    border: 1px solid black;
    height: 20px;
    width: 250px;
    padding: 9px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.623);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.253);
}

#contact-form input[type="submit"]{
    border: 1px solid black;
    height: 40px;
    width: 150px;
    padding: 9px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: rgba(96, 183, 255, 0.733);
    text-transform: uppercase;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.253);
}
#contact-form input[type="submit"]:hover{
    background-color: rgba(96, 183, 255, 0.452);
}
footer{
    display: flex;
    background-color: rgb(255, 255, 255);
    color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
    padding: 30px 0px;
}
.social img{
    width: 50px;
    padding: 0px 10px;
}
.social{
    margin-left: auto;
    padding: 0px 30px;
}
.phonenumber-phone{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.phonenumber{
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 20px rgb(0, 0, 0);
    font-size: 19px;
    padding: 0px 30px;
    text-transform: uppercase;
}
